@CHARSET "ISO-8859-1";
#formWrapper {
    width: 750px;
    height: auto;
    border-style:solid;
    border-width:1px;
    border-color:#bce8f1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.textColor{
    color: #31708f;
    font-size:12px;
}
.roundCorner{
    border-radius:10px;
}
.titleStyle{
    background-color:#bce8f1;	
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:30px;
    font-size:18px;
    margin-top: 0px;
    margin-left: 0px;
    color: #0072b1;
    font-weight: bold;
}
.form-control1:focus {
    border-color:#3C8DBC !important;
    box-shadow:none;
}
.form-control1 {
    border-bottom-left-radius:5px !important;
    border-bottom-right-radius:5px !important;
    border-top-left-radius:5px !important;
    border-top-right-radius:5px !important;
    box-shadow:#66AFE9;
}
.form-control1:focus {
    -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(102, 175, 233, 0.6) 0 0 8px;
    border-color:#66AFE9;
    box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(102, 175, 233, 0.6) 0 0 8px;
    outline:0;
}
.form-control1 {
    -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
    -webkit-transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color:#FFFFFF;
    background-image:none;
    border:1px solid #CCCCCC;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
    color:#555555;
    display:block;
    font-size:14px;
    height:34px;
    line-height:1.428571429;
    padding:6px 12px;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align:middle;
    width:100%;
}