body {
	padding-top: 70px;
}

p{
	text-align: justify;
    text-justify: inter-word;
}

.clb-label{
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	/*width: 80px;*/
	/*height: 20px;*/
	min-width: 30px;
	padding: 5px;
	border-radius: 30px;
	border: 2px solid black;
	white-space: nowrap;
}

.footer-div{
	background-color: #39445A;
	margin: 4px 0px 0px;
	padding: 20px 0px 20px;
}

.footer-title{
	color: #FEFDF8;
}